@media (max-width: 720px) {

    .container{
        min-width: 320px;
    }

    .header_location-group {
        width: 20%;
    }


    .header-menu{
        width: 40%;
    }

    .header-menu_modal{
        width: 80%;
    }

    .logo_text-large{
        font-size: 36px;
    }
    .logo_text-small{
        font-size: 15px;
    }

    .header_logo-group{
        align-items: flex-end;
    }

    .logo_icon-container>img{
        height: 54px;
    }

    .top_main-info{
        position: relative;
    }

    .top-section_title{
        width: 100%;
    }
    .top-section_title>h1{
        font-size: 32px;
    }

    .top-section_buttons{
        flex-direction: column;
    }
    .top-section_button{
        font-size: 16px;
        height: 40px;
    }

    .top-section_button-call{
        width: 140px;
    }
    .top-section_button-get{
        width: 220px;
    }

    .gradient{
        min-height: auto;
        height: 101%;
        background: linear-gradient(#625f4e 32%, rgba(255, 255, 255, 0), #ffffff 90%);
    }

    .title{
        font-size: 22px;
    }

    .benefits-section_container{
        top: 0;
        position: relative;
    }

    .benefits-section{
        margin-top: 60px;
    }

    .benefits-section-container-title{
        display: block;
    }

    .benefits-section_info-container{
        position: relative;
        top: 0;
        flex-wrap: wrap;
    }

    .info-element{
        height: auto !important;
        width: 45% !important;
        color: #625F4E;
        background: transparent;
        border: none;
        box-shadow: none;
    }

    .info-element:hover {
        box-shadow: none;
    }

    .info-element_title{
        font-size: 18px;
    }


    .activitie_title{
        font-size: 16px;
    }

    .activitie_info{
        font-size: 12px;
    }

    .activities_show-more{
        width: 40px;
        height: 40px;
    }

    .close-modal{
        right: 0;
    }

    .about_content_container{
        width: 95%;
    }

    .swiper-button-next,
    .swiper-button-prev{
        visibility: hidden !important;
    }

    .swiper-slide_image > img{
        width: 100%;
        height: auto !important;
        min-height: auto !important;
    }

    .activities_show-more>img{
        width: 20px;
        transform: translate(2%, 15%) rotate(90deg);
    }

    .about-certificate_icon_modal {
        height: 90vh;
    }

    .about-certificate{
        width: 90%;
        margin: 30px auto;
        float: none;
    }

    .about-info{
        display: flex;
        flex-direction: column-reverse;
    }


    .footer-title, .footer-title1{
        font-size: 20px;
    }

    .footer-address, .footer-text{
        font-size: 16px;
    }


    .trust-list{
        font-size: 16px;
        font-weight: 700;
    }
}

@media (max-width: 700px) {
    .gradient{
        background: linear-gradient(#625f4e 45%, rgba(255, 255, 255, 0), #ffffff);
    }
}

@media (max-width: 575px) {
    .gradient{
        background: linear-gradient(#625f4e 54%, rgba(255, 255, 255, 0), #ffffff);
    }

    .header-menu>img{
        width: 32px;
        height: 30px;
    }
}

@media (max-width: 510px) {
    .top-section_title>h1{
        font-size: 28px;
    }

    .gradient{
        background: linear-gradient(#625f4e 54%, rgba(255, 255, 255, 0), #ffffff);
    }

    .top_main-info{
        background-position: bottom;
        min-height: auto;
    }

    .close-modal{
        right: 0;
    }

    .about_content_container{
        width: 99%;
    }

    .about-certificate_icon_modal {
        height: 80vh;
    }

    .header-menu_modal{
        padding-top: 30%;
    }


}
