* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  min-width: 1024px;
  margin: 0 auto;
}


/*_______________________________________HEADER________________________________________*/

.header_first {
  background: #625f4e;
}

.header_first-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 30px;
}

.header_location-group {
  display: flex;
  width: 30%;
  align-items: center;
  gap: 6%;
}
.header-menu, .header-menu_modal{
  display: none;
}
.location_text {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.header_logo-group {
  text-decoration: none;
  display: flex;
  gap: 8%;
}

/*__________________________________*/

.logo_text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_text-large {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
}

.logo_text-small {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

/*__________________________________*/

.header_phone-group {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 6%;
  width: 30%;
}

.phone>img {
  width: 27px;
  height: 27px;
}

.phone_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16%;
  height: 100%;
}

.phone_text > a {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

/*____________________________________*/
.header_second-container {
  display: flex;
  justify-content: space-between;
}

.header_second-container > a {
  border: 1px solid white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #524f41;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}


.header_second-container > a:hover {
  opacity: 0.5;
}

/*_______________________________________~HEADER________________________________________*/

/*_______________________________________TOP-SECTION________________________________________*/

.top_main-info {
  background-image: url("../images/top-background.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 70%;
  position: relative;
  min-height: 610px;
}

.gradient {
  position: absolute;
  z-index: 2;
  width: 60%;
  min-height: 610px;
  background: linear-gradient(to right, #625f4e 70%, rgba(255, 255, 255, 0));
}

.top-section_container {
  position: relative;
  z-index: 5;
}

.top-section_title {
  width: 60%;
  padding-top: 120px;
}

.top-section_title > h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: white;
}

.top-section_buttons {
  padding: 40px 0 140px;
  display: flex;
  gap: 20px;
}

.top-section_button {
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-section_button-call {
  width: 170px;
  color: #625f4e;
  background: white;
  border: 4px solid white;
}

.top-section_button-get {
  width: 260px;
  border: 4px solid white;
  color: white;
}

.benefits-section-container {
  position: relative;
  min-height: 180px;
}

.benefits-section_info-container {
  display: flex;
  gap: 20px;
  position: absolute;
  top: -60%;
  z-index: 10;
}

.info-element {
  width: 25%;
  background: #625f4e;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
  color: white;
  padding: 30px 20px 50px;
}

.info-element:hover {
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.15);
}

.info-element_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 10px 0;
}

.info-element_text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

/*_______________________________________~TOP-SECTION________________________________________*/

/*_______________________________________ACTIVITIES-SECTION________________________________________*/


.activities_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.activities-section_container {
  margin: 60px auto 100px;
}

.activities_container-mobile{
  display: none;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #625f4e;
  text-align: center;
  margin-bottom: 40px;
}

.activities_container-element {
  width: 22%;
  color: #524f41;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 20px;
}

.activities_container-element-m {
  width: 40%;
  color: #524f41;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 20px;
}

.hidden-element {
  display: none;
}

.activitie_icon {
  width: 20%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.activitie_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.activitie_info {
  font-size: 14px;
  line-height: 150%;
}

.activities_button-container {
  display: flex;
  justify-content: center;
}

.activities_show-more {
  margin: 16px 0;
  width: 220px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  background: none;
  text-decoration: underline;
  color: #524f41;
}

.activities_show-more-hidden {
  display: none;
}

/*_______________________________________~ACTIVITIES-SECTION________________________________________*/


/*_______________________________________ABOUT-SECTION________________________________________*/

.about-section{
  position: relative;
}

.about-container{
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.about-info{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #524f41;
  line-height: 150%;
}

.about-info-p{
  margin-top: 4%;
}

.about-certificate{
  width: 35%;
  margin-left: 12%;
  margin-right: 4%;
  float: right;
}

.about-certificate_pagination{
  display: flex;
  gap: 10px;
  justify-content: center;
}

.about-certificate_icon{
  position: relative;
}

.about-certificate_icon>img{
  width: 100%;
  height: 100%;
}

.layer_block{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  opacity: 0;
  background: rgba(0,0,0,0.5);
}

.layer_block:hover{
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(5px);
  opacity: 1;
}

.layer_block>button{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.enki-button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 500;
  align-items: center;
  display: flex;
  justify-content: center;
}

.dark_button{
  background: #625F4E;

}

.light_button{
  background: #ffffff;
}

.layer_block>p{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-48%,-50%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #524F41;
  text-align: center;
  line-height: 150%;
  margin-top: 10px;
}

.pag_item{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgba(98, 95, 78, 0.25);
}

.pag_selected_item{
  background: #625F4E;
}


.pag_item-checked{
  background: #625F4E;
}



.about_icon-modal{
  position: fixed;
  top: 0;
  left: 0;
  padding-right: 1.2%;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(98, 95, 78, 0.5);
  backdrop-filter: blur(25px);
  display: flex;
  justify-content: center;
  gap: 2%;
  align-items: center;
}

.close-modal{
  position: absolute;
  top: -3%;
  right: -5%;
}
.close-modal>img{
  transform: rotate(45deg);
}

.hidden-element{
  display: none;
}

.about-certificate_icon_modal > img{
    height: 85vh;
    min-height: 85vh;
}

.about_content_container{
  min-width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.about_pag_item{
  background: rgba(255, 255, 255, 0.5);
}

.about_pag_selected_item{
  background: #ffffff;
}

.modal-arrow1>img, .modal-arrow2>img{
  transform: translate(10%, 0);
  width: 50%;
}

.modal-arrow1:hover, .modal-arrow2:hover {
  opacity: 0.5;
}

.modal-arrow1{
  transform: rotate(180deg);
}


/*_______________________________________~ABOUT-SECTION________________________________________*/




/*_______________________________________FOOTER________________________________________*/

.footer {
  background: #625f4e;
}

.footer-container {
  padding: 60px 0;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.footer-title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}

.footer-address,
.footer-text {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 150%;
}

.footer-title1 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-first-num,
.footer-second-num {
  color: white;
}

.footer-second-num {
  margin-left: 105px;
}

.footer_text-block {
  margin: 10px 0;
}

.footer_text-block > a {
  color: white;
}

/*_______________________________________~FOOTER________________________________________*/



/*_______________________________________TRUST________________________________________*/

.trust-section_container {
  margin: 60px auto 100px;
  font-family: "Montserrat", sans-serif;
  color: #524F41;
  font-size: 24px;
  line-height: 44px;
}

.trust-icons{
  display: flex;
  justify-content: center;
  gap: 4%;
  flex-wrap: wrap;
  margin-top: 40px;
}

.trust-icon{
  width: 16%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.trust-icon>img{
  width: 90%;
}


/*_______________________________________~TRUST________________________________________*/

